{{!-- The context here is the controller. --}}

{{link-to 'New Friend' 'friends.new'}}

<p>You have {{model.length}} friends</p>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Articles</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{!-- If the route returned a singular object, it is the implicit this. We would then refer to simply its properties ( e.g., {{firstName}} ). --}}

    {{#each friend in model}}
      <tr>
        {{!-- You can alternatively pass a friend's `id` as she second arg to 
              `link-to` (e.g., `{{#link-to 'friends.show' friend.id}}`). This 
              will cause the model to fire (it won't if you pass the instance
              directly). --}}
        {{!-- `friend.fullName` is a computed value from the friend model. --}}
        <td> {{link-to friend.fullName "friends.show" friend}} </td>
        <td> {{friend.totalArticles}} </td>
        {{!-- We put this action in routes/friends.js --}}
        <td> <a href="#" {{action "delete" friend}}>X</a> </td>
      </tr>
    {{/each}}
  </tbody>
</table>
