{{link-to 'Friends' 'friends.index'}}

<div class="friend-profile">
  <p>{{model.firstName}} {{model.lastName}}</p>
  <p>{{model.email}}</p>
  <p>{{model.twitter}}</p>
  {{link-to 'Edit Info' 'friends.edit' model}}
  <a href="#" {{action "delete" model}}>Delete</a>
  
</div>